@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700");
div.widget .chart-controls {
  display: block !important;
  opacity: 1 !important;
}
.chart-controls a,
.markup .chart-controls a.exportCSV {
  pointer-events: none;
  opacity: 0;
}
.chart-controls a.exportCSV {
  pointer-events: auto;
  opacity: 1;
}
header,
.favstar,
.btn-group {
  display: none;
}
.react-resizable-handle {
  display: none;
}
.markup .chart-header {
  display: none;
}
body {
  background-color: #fff;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  color: #535353;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #141414;
}
.title h1 {
  display: none;
}
.slice-html {
  height: 100%;
  overflow-y: hidden;
}
.slice-html--title {
  font-size: 60px;
  padding: 0;
  margin-bottom: 35px;
  color: #141414;
}
.slice-html--headline {
  font-size: 28px;
  font-weight: 700;
  background-color: #141414;
  color: #fff;
  padding: 21px 20px;
  margin-bottom: 22px;
}
.slice-html--paragraph {
  font-size: 22px;
  line-height: 33px;
  color: #535353;
  width: 75%;
}
.slice-cell-highlight {
  box-shadow: none;
}
#slice_130,
#slice_354 {
  display: none;
}
.markup .editable-title {
  display: none;
}
.markup.slice-container {
  margin: 0;
}
div.widget .chart-header {
  padding: 11px 0;
  margin: 11px 0;
}
div.widget.markup .chart-header {
  border-bottom: 0;
}
.slice-cell .editable-title input[type="button"] {
  font-weight: 600;
  color: #141414;
  font-size: 22px;
}
.slice_description {
  display: none;
}
.slice_container.table {
  background-color: #fff;
}
.widget.table tr>td,
.widget.table tr>th {
  padding: 10px !important;
}
div.dataTables_paginate ul.pagination {
  margin: 22px 0px;
}
