/** standard dashboard css **/

body 
    background-color #fff
    font-family $monsterrat
    color $body-text-color 

h1, h2, h3, h4, h5, h6, p 
    font-family $monsterrat
    
h1, h2, h3, h4, h5, h6
    color $heading-text-color 

.title h1 
    display none

.slice-html 
    height 100%
    overflow-y hidden

.slice-html--title 
    font-size 60px
    padding 0
    margin-bottom 35px
    color $revolution-grey

.slice-html--headline
    font-size 28px
    font-weight 700
    background-color $revolution-grey
    color #fff
    padding 21px 20px
    margin-bottom 22px


.slice-html--paragraph 
    font-size 22px
    line-height 33px
    color $body-text-color
    width 75%

.slice-cell-highlight
    box-shadow none

/** hide  node_id filter slice **/
#slice_130,
#slice_354 
    display none

/** hide titles on markup slices **/
.markup .editable-title 
    display none
    
.markup.slice-container
    margin 0

/* charts */

div.widget .chart-header 
    padding 11px 0
    margin 11px 0

div.widget.markup .chart-header  
    border-bottom 0

.slice-cell .editable-title input[type="button"]
    font-weight 600
    color $heading-text-color
    font-size 22px

.slice_description
    display none

/* table styles*/

.slice_container.table 
    background-color #ffffff

.widget.table tr>td,
.widget.table tr>th
    padding 10px !important

/* pagination */

div.dataTables_paginate ul.pagination 
    margin 22px 0px

