h1 
    color $heading-text-color  
    font-weight 600
    font-size 42px
    margin-bottom 36px

h2 
    font-weight 600
    background-color $heading-background
    color #fff
    padding 20px
    border-bottom  $border
    margin-bottom 30px

h3 
    font-weight 600


p, li
    font-size 18px
    line-height 27px
    margin-bottom 18px
    
b
    font-weight 600

/* text wrapping */
.text-wrapper 
    max-width 820px