
// ### Typography
$monsterrat = "Montserrat, Helvetica, Arial, sans-serif"


// ### Colors

// pallette
$bay-blue                   = #14558f 
$bay-blue-50                = #8AAAC7
$bay-blue-light             = #E7EEF4

$berkshires-green           = #43956F
$berkshires-green-50        = #A1CAB7
$berkshires-green-light     = #D9EAE2

$duckling-yellow            = #F6C51B
$duckling-yellow-50         = #FBE28D
$duckling-yellow-light      = #FEF9E8

$independence-cranberry     = #680A1D
$independence-cranberry-50  = #AD7E88


$granite-grey               = #535353
$revolution-grey            = #141414

$overcast-grey              = #DCDCDC
$platinum-grey              = #F2F2F2

  

// functional

$heading-background         = $bay-blue
$body-text-color            = $revolution-grey
$border-color				= $overcast-grey
